.elementor-10 .elementor-element.elementor-element-0f36e33:not(.elementor-motion-effects-element-type-background),
.elementor-10 .elementor-element.elementor-element-0f36e33>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #131313;
}

.elementor-10 .elementor-element.elementor-element-0f36e33 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 80px 0px 80px 0px;
}

.elementor-10 .elementor-element.elementor-element-0f36e33>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10 .elementor-element.elementor-element-0f36e33>.elementor-shape-bottom svg {
    width: calc(182% + 1.3px);
    height: 105px;
}

.elementor-10 .elementor-element.elementor-element-2eydxsv {
    text-align: center;
}

.elementor-10 .elementor-element.elementor-element-2eydxsv .elementor-heading-title {
    color: #ffffff;
    font-size: 5em;
}

.elementor-10 .elementor-element.elementor-element-2n0u19f {
    --divider-border-style: solid;
    --divider-border-color: #FFFFFF;
    --divider-border-width: 3px;
}

.elementor-10 .elementor-element.elementor-element-2n0u19f .elementor-divider-separator {
    width: 300px;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-10 .elementor-element.elementor-element-2n0u19f .elementor-divider {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-10 .elementor-element.elementor-element-ks2tb56 {
    text-align: center;
}

.elementor-10 .elementor-element.elementor-element-ks2tb56 .elementor-heading-title {
    color: #ffffff;
    font-family: "Montserrat", Sans-serif;
}

.elementor-10 .elementor-element.elementor-element-wm77wez {
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 60px 0px 100px 0px;
}

.elementor-10 .elementor-element.elementor-element-t80aoc9>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-10 .elementor-element.elementor-element-9qcgbbc>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-10 .elementor-element.elementor-element-9qcgbbc>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10 .elementor-element.elementor-element-236787d .elementor-image img {
    width: 55%;
    border-style: solid;
    border-color: #FFFFFF;
    border-radius: 300px 300px 300px 300px;
}

.elementor-10 .elementor-element.elementor-element-236787d>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-10 .elementor-element.elementor-element-r8nngr4 {
    --divider-border-style: solid;
    --divider-border-color: #000000;
    --divider-border-width: 3px;
}

.elementor-10 .elementor-element.elementor-element-r8nngr4 .elementor-divider-separator {
    width: 80px;
}

.elementor-10 .elementor-element.elementor-element-r8nngr4 .elementor-divider {
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-10 .elementor-element.elementor-element-h7av5px:not(.elementor-motion-effects-element-type-background),
.elementor-10 .elementor-element.elementor-element-h7av5px>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(150deg, rgba(122, 122, 122, 0.16) 50%, rgba(122, 122, 122, 0.05) 50%);
}

.elementor-10 .elementor-element.elementor-element-h7av5px>.elementor-background-overlay {
    background-color: transparent;
    background-image: radial-gradient(at center center, #A9F8D2 36%, rgba(35, 164, 85, 0.47) 100%);
    opacity: 0.05;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10 .elementor-element.elementor-element-h7av5px {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 100px 0px;
}

.elementor-10 .elementor-element.elementor-element-h7av5px>.elementor-shape-top svg {
    height: 70px;
}

.elementor-10 .elementor-element.elementor-element-scziaw1 {
    text-align: center;
}

.elementor-10 .elementor-element.elementor-element-scziaw1 .elementor-heading-title {
    color: #000000;
    font-family: "Montserrat", Sans-serif;
    font-weight: 600;
}

.elementor-10 .elementor-element.elementor-element-szxoz71 {
    --divider-border-style: solid;
    --divider-border-color: #000000;
    --divider-border-width: 3px;
}

.elementor-10 .elementor-element.elementor-element-szxoz71 .elementor-divider-separator {
    width: 80px;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-10 .elementor-element.elementor-element-szxoz71 .elementor-divider {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-10 .elementor-element.elementor-element-nkqe57p {
    padding: 30px 0px 40px 0px;
}

.elementor-10 .elementor-element.elementor-element-193484c .elementor-swiper-button.elementor-swiper-button-prev,
.elementor-10 .elementor-element.elementor-element-193484c .elementor-swiper-button.elementor-swiper-button-next {
    color: rgba(122, 122, 122, 0.49);
}

.elementor-10 .elementor-element.elementor-element-1c0f75f .elementor-image img {
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 20px 20px 20px 20px;
}

.elementor-10 .elementor-element.elementor-element-e694c12.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-10 .elementor-element.elementor-element-e694c12.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-10 .elementor-element.elementor-element-e694c12.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-10 .elementor-element.elementor-element-e694c12 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%;
}

.elementor-10 .elementor-element.elementor-element-e694c12 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-10 .elementor-element.elementor-element-1725977 .elementor-toggle .elementor-tab-title {
    border-width: 0px;
    padding: 0% 0% 0% 040%;
}

.elementor-10 .elementor-element.elementor-element-1725977 .elementor-toggle .elementor-tab-content {
    border-width: 0px;
}

.elementor-10 .elementor-element.elementor-element-1725977 .elementor-toggle-title,
.elementor-10 .elementor-element.elementor-element-1725977 .elementor-toggle-icon {
    color: #050303;
}

.elementor-10 .elementor-element.elementor-element-1725977 .elementor-tab-title.elementor-active a,
.elementor-10 .elementor-element.elementor-element-1725977 .elementor-tab-title.elementor-active .elementor-toggle-icon {
    color: #050303;
}

.elementor-10 .elementor-element.elementor-element-1725977 .elementor-toggle .elementor-toggle-icon.elementor-toggle-icon-left {
    margin-right: 10px;
}

.elementor-10 .elementor-element.elementor-element-1725977 .elementor-toggle .elementor-toggle-icon.elementor-toggle-icon-right {
    margin-left: 10px;
}

.elementor-10 .elementor-element.elementor-element-1725977>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-10 .elementor-element.elementor-element-76b4bb7 {
    padding: 30px 0px 40px 0px;
}

.elementor-10 .elementor-element.elementor-element-5547b24 .elementor-image img {
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 20px 20px 20px 20px;
}

.elementor-10 .elementor-element.elementor-element-3429dd0.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-10 .elementor-element.elementor-element-3429dd0.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-10 .elementor-element.elementor-element-3429dd0.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-10 .elementor-element.elementor-element-3429dd0 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%;
}

.elementor-10 .elementor-element.elementor-element-3429dd0 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-10 .elementor-element.elementor-element-3ab9acc .elementor-toggle .elementor-tab-title {
    border-width: 0px;
    border-color: #050303;
    padding: 0% 0% 0% 040%;
}

.elementor-10 .elementor-element.elementor-element-3ab9acc .elementor-toggle .elementor-tab-content {
    border-width: 0px;
    border-bottom-color: #050303;
}

.elementor-10 .elementor-element.elementor-element-3ab9acc .elementor-toggle-title,
.elementor-10 .elementor-element.elementor-element-3ab9acc .elementor-toggle-icon {
    color: #050303;
}

.elementor-10 .elementor-element.elementor-element-3ab9acc .elementor-tab-title.elementor-active a,
.elementor-10 .elementor-element.elementor-element-3ab9acc .elementor-tab-title.elementor-active .elementor-toggle-icon {
    color: #050303;
}

.elementor-10 .elementor-element.elementor-element-3ab9acc .elementor-toggle .elementor-toggle-icon.elementor-toggle-icon-left {
    margin-right: 10px;
}

.elementor-10 .elementor-element.elementor-element-3ab9acc .elementor-toggle .elementor-toggle-icon.elementor-toggle-icon-right {
    margin-left: 10px;
}

.elementor-10 .elementor-element.elementor-element-3ab9acc>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-10 .elementor-element.elementor-element-645a417 .elementor-swiper-button.elementor-swiper-button-prev,
.elementor-10 .elementor-element.elementor-element-645a417 .elementor-swiper-button.elementor-swiper-button-next {
    color: rgba(122, 122, 122, 0.49);
}

.elementor-10 .elementor-element.elementor-element-87a5280 {
    padding: 30px 0px 40px 0px;
}

.elementor-10 .elementor-element.elementor-element-aa04313 .elementor-swiper-button.elementor-swiper-button-prev,
.elementor-10 .elementor-element.elementor-element-aa04313 .elementor-swiper-button.elementor-swiper-button-next {
    color: rgba(122, 122, 122, 0.49);
}

.elementor-10 .elementor-element.elementor-element-0b5cf08 .elementor-image img {
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 20px 20px 20px 20px;
}

.elementor-10 .elementor-element.elementor-element-b992171.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-10 .elementor-element.elementor-element-b992171.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-10 .elementor-element.elementor-element-b992171.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-10 .elementor-element.elementor-element-b992171 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%;
}

.elementor-10 .elementor-element.elementor-element-b992171 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-10 .elementor-element.elementor-element-86de2b3 .elementor-toggle .elementor-tab-title {
    border-width: 0px;
    border-color: #050303;
    padding: 0% 0% 0% 040%;
}

.elementor-10 .elementor-element.elementor-element-86de2b3 .elementor-toggle .elementor-tab-content {
    border-width: 0px;
    border-bottom-color: #050303;
}

.elementor-10 .elementor-element.elementor-element-86de2b3 .elementor-toggle-title,
.elementor-10 .elementor-element.elementor-element-86de2b3 .elementor-toggle-icon {
    color: #050303;
}

.elementor-10 .elementor-element.elementor-element-86de2b3 .elementor-tab-title.elementor-active a,
.elementor-10 .elementor-element.elementor-element-86de2b3 .elementor-tab-title.elementor-active .elementor-toggle-icon {
    color: #050303;
}

.elementor-10 .elementor-element.elementor-element-86de2b3 .elementor-toggle .elementor-toggle-icon.elementor-toggle-icon-left {
    margin-right: 10px;
}

.elementor-10 .elementor-element.elementor-element-86de2b3 .elementor-toggle .elementor-toggle-icon.elementor-toggle-icon-right {
    margin-left: 10px;
}

.elementor-10 .elementor-element.elementor-element-86de2b3>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-10 .elementor-element.elementor-element-5ffa318 {
    padding: 30px 0px 40px 0px;
}

.elementor-10 .elementor-element.elementor-element-c0a67f7 .elementor-image img {
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 20px 20px 20px 20px;
}

.elementor-10 .elementor-element.elementor-element-4c7695d.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-10 .elementor-element.elementor-element-4c7695d.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-10 .elementor-element.elementor-element-4c7695d.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-10 .elementor-element.elementor-element-4c7695d .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%;
}

.elementor-10 .elementor-element.elementor-element-4c7695d .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-10 .elementor-element.elementor-element-55bf82c .elementor-toggle .elementor-tab-title {
    border-width: 0px;
    border-color: #050303;
    padding: 0% 0% 0% 040%;
}

.elementor-10 .elementor-element.elementor-element-55bf82c .elementor-toggle .elementor-tab-content {
    border-width: 0px;
    border-bottom-color: #050303;
}

.elementor-10 .elementor-element.elementor-element-55bf82c .elementor-toggle-title,
.elementor-10 .elementor-element.elementor-element-55bf82c .elementor-toggle-icon {
    color: #050303;
}

.elementor-10 .elementor-element.elementor-element-55bf82c .elementor-tab-title.elementor-active a,
.elementor-10 .elementor-element.elementor-element-55bf82c .elementor-tab-title.elementor-active .elementor-toggle-icon {
    color: #050303;
}

.elementor-10 .elementor-element.elementor-element-55bf82c .elementor-toggle .elementor-toggle-icon.elementor-toggle-icon-left {
    margin-right: 10px;
}

.elementor-10 .elementor-element.elementor-element-55bf82c .elementor-toggle .elementor-toggle-icon.elementor-toggle-icon-right {
    margin-left: 10px;
}

.elementor-10 .elementor-element.elementor-element-55bf82c>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-10 .elementor-element.elementor-element-a50f0f0 .elementor-swiper-button.elementor-swiper-button-prev,
.elementor-10 .elementor-element.elementor-element-a50f0f0 .elementor-swiper-button.elementor-swiper-button-next {
    color: rgba(122, 122, 122, 0.49);
}

.elementor-10 .elementor-element.elementor-element-rfchg3g {
    padding: 50px 0px 80px 0px;
}

.elementor-10 .elementor-element.elementor-element-72pmx2s {
    text-align: center;
}

.elementor-10 .elementor-element.elementor-element-85j19fm {
    --divider-border-style: solid;
    --divider-border-color: #000000;
    --divider-border-width: 3px;
}

.elementor-10 .elementor-element.elementor-element-85j19fm .elementor-divider-separator {
    width: 80px;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-10 .elementor-element.elementor-element-85j19fm .elementor-divider {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-10 .elementor-element.elementor-element-q4v7023>.elementor-element-populated {
    padding: 50px 50px 50px 110px;
}

.elementor-10 .elementor-element.elementor-element-ncxka9h {
    text-align: left;
}

.elementor-10 .elementor-element.elementor-element-ncxka9h .elementor-heading-title {
    font-weight: 500;
}

.elementor-10 .elementor-element.elementor-element-6oxy2gh .elementor-icon-list-icon i {
    color: #000000;
    font-size: 16px;
}

.elementor-10 .elementor-element.elementor-element-6oxy2gh .elementor-icon-list-icon svg {
    fill: #000000;
    width: 16px;
}

.elementor-10 .elementor-element.elementor-element-6oxy2gh .elementor-icon-list-text {
    padding-left: 10px;
}

.elementor-10 .elementor-element.elementor-element-s6y7mhs>.elementor-element-populated {
    padding: 50px 50px 50px 105px;
}

.elementor-10 .elementor-element.elementor-element-hjrgo54 {
    text-align: left;
}

.elementor-10 .elementor-element.elementor-element-hjrgo54 .elementor-heading-title {
    font-weight: 500;
}

.elementor-10 .elementor-element.elementor-element-51t2hmf .elementor-icon-list-icon i {
    color: #000000;
    font-size: 16px;
}

.elementor-10 .elementor-element.elementor-element-51t2hmf .elementor-icon-list-icon svg {
    fill: #000000;
    width: 16px;
}

.elementor-10 .elementor-element.elementor-element-51t2hmf .elementor-icon-list-text {
    padding-left: 10px;
}

.elementor-10 .elementor-element.elementor-element-34otgte:not(.elementor-motion-effects-element-type-background),
.elementor-10 .elementor-element.elementor-element-34otgte>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #131313;
    background-image: url("https://jigneshgangajaliya.com/wp-content/uploads/2020/05/footer-bg-free-img.jpg");
    background-position: center center;
    background-size: cover;
}

.elementor-10 .elementor-element.elementor-element-34otgte {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 70px 0px 20px 0px;
}

.elementor-10 .elementor-element.elementor-element-34otgte>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10 .elementor-element.elementor-element-34otgte>.elementor-shape-top .elementor-shape-fill {
    fill: #ffffff;
}

.elementor-10 .elementor-element.elementor-element-34otgte>.elementor-shape-top svg {
    height: 48px;
}

.elementor-10 .elementor-element.elementor-element-jlb3k0l>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-10 .elementor-element.elementor-element-tk0wxs3 .elementor-heading-title {
    color: #ffffff;
}

.elementor-10 .elementor-element.elementor-element-jgroycc {
    --divider-border-style: solid;
    --divider-border-color: #AFBDB1;
    --divider-border-width: 3px;
}

.elementor-10 .elementor-element.elementor-element-jgroycc .elementor-divider-separator {
    width: 80px;
}

.elementor-10 .elementor-element.elementor-element-jgroycc .elementor-divider {
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-10 .elementor-element.elementor-element-78f7b09 .elementor-icon-list-icon i {
    color: #FFFFFF;
    font-size: 20px;
}

.elementor-10 .elementor-element.elementor-element-78f7b09 .elementor-icon-list-icon svg {
    fill: #FFFFFF;
    width: 20px;
}

.elementor-10 .elementor-element.elementor-element-78f7b09 .elementor-icon-list-text {
    color: #ffffff;
}

.elementor-10 .elementor-element.elementor-element-78f7b09>.elementor-widget-container {
    padding: 30px 0px 0px 0px;
}

.elementor-10 .elementor-element.elementor-element-n818er4>.elementor-element-populated {
    text-align: left;
    padding: 0px 0px 0px 0px;
}

body.elementor-page-10:not(.elementor-motion-effects-element-type-background),
body.elementor-page-10>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F9F9F9;
}

@media(max-width:1024px) {
    .elementor-10 .elementor-element.elementor-element-wm77wez {
        padding: 50px 30px 30px 30px;
    }

    .elementor-10 .elementor-element.elementor-element-30dudcl>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-10 .elementor-element.elementor-element-h7av5px {
        padding: 0px 0px 70px 0px;
    }

    .elementor-10 .elementor-element.elementor-element-rfchg3g {
        padding: 20px 0px 0px 0px;
    }

    .elementor-10 .elementor-element.elementor-element-q4v7023>.elementor-element-populated {
        padding: 30px 30px 30px 30px;
    }

    .elementor-10 .elementor-element.elementor-element-s6y7mhs>.elementor-element-populated {
        padding: 30px 30px 30px 30px;
    }

    .elementor-10 .elementor-element.elementor-element-34otgte {
        padding: 90px 0px 90px 0px;
    }

    .elementor-10 .elementor-element.elementor-element-hc49hhy>.elementor-element-populated {
        padding: 0px 45px 0px 45px;
    }

    .elementor-10 .elementor-element.elementor-element-n818er4>.elementor-element-populated {
        padding: 0px 45px 0px 45px;
    }
}

@media(max-width:767px) {
    .elementor-10 .elementor-element.elementor-element-5i9pkaa>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-10 .elementor-element.elementor-element-2eydxsv .elementor-heading-title {
        font-size: 4em;
    }

    .elementor-10 .elementor-element.elementor-element-2n0u19f .elementor-divider-separator {
        width: 100px;
    }

    .elementor-10 .elementor-element.elementor-element-wm77wez {
        padding: 70px 20px 0px 20px;
    }

    .elementor-10 .elementor-element.elementor-element-7ourtjj>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-10 .elementor-element.elementor-element-t80aoc9 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-10 .elementor-element.elementor-element-30dudcl>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
    }

    .elementor-10 .elementor-element.elementor-element-z2zx1qs {
        text-align: center;
    }

    .elementor-10 .elementor-element.elementor-element-r8nngr4 .elementor-divider {
        text-align: center;
    }

    .elementor-10 .elementor-element.elementor-element-r8nngr4 .elementor-divider-separator {
        margin: 0 auto;
        margin-center: 0;
    }

    .elementor-10 .elementor-element.elementor-element-h7av5px {
        padding: 70px 0px 40px 0px;
    }

    .elementor-10 .elementor-element.elementor-element-scziaw1 {
        text-align: center;
    }

    .elementor-10 .elementor-element.elementor-element-szxoz71 .elementor-divider {
        text-align: center;
    }

    .elementor-10 .elementor-element.elementor-element-szxoz71 .elementor-divider-separator {
        margin: 0 auto;
        margin-center: 0;
    }

    .elementor-10 .elementor-element.elementor-element-e694c12 .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-10 .elementor-element.elementor-element-3429dd0 .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-10 .elementor-element.elementor-element-b992171 .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-10 .elementor-element.elementor-element-4c7695d .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-10 .elementor-element.elementor-element-qnnm6a7>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-10 .elementor-element.elementor-element-o9i2fxp>.elementor-element-populated {
        padding: 20px 20px 20px 20px;
    }

    .elementor-10 .elementor-element.elementor-element-72pmx2s {
        text-align: left;
    }

    .elementor-10 .elementor-element.elementor-element-85j19fm .elementor-divider {
        text-align: left;
    }

    .elementor-10 .elementor-element.elementor-element-85j19fm .elementor-divider-separator {
        margin: 0 auto;
        margin-left: 0;
    }

    .elementor-10 .elementor-element.elementor-element-q4v7023>.elementor-element-populated {
        padding: 20px 20px 20px 20px;
    }

    .elementor-10 .elementor-element.elementor-element-s6y7mhs>.elementor-element-populated {
        padding: 20px 20px 20px 20px;
    }

    .elementor-10 .elementor-element.elementor-element-34otgte {
        padding: 060px 0px 60px 0px;
    }

    .elementor-10 .elementor-element.elementor-element-hc49hhy>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 20px 20px 20px 20px;
    }

    .elementor-10 .elementor-element.elementor-element-n818er4>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 15px 15px 15px 15px;
    }

    .elementor-10 .elementor-element.elementor-element-mwocykz>.elementor-widget-container {
        margin: 30px 0px 0px 0px;
    }
}

@media(min-width:768px) {
    .elementor-10 .elementor-element.elementor-element-9qcgbbc {
        width: 37%;
    }

    .elementor-10 .elementor-element.elementor-element-30dudcl {
        width: 63%;
    }

    .elementor-10 .elementor-element.elementor-element-hc49hhy {
        width: 60%;
    }

    .elementor-10 .elementor-element.elementor-element-n818er4 {
        width: 40%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-10 .elementor-element.elementor-element-9qcgbbc {
        width: 40%;
    }

    .elementor-10 .elementor-element.elementor-element-30dudcl {
        width: 50%;
    }

    .elementor-10 .elementor-element.elementor-element-hc49hhy {
        width: 50%;
    }

    .elementor-10 .elementor-element.elementor-element-n818er4 {
        width: 50%;
    }
}